# compiled output 
*.com
*.class
*.dll
*.exe
*.o
*.so

# other chaff from debuging
*.pdb
*.cache
TemporaryGeneratedFile*.*
*.exe.config

####################################
# IDE - Visual Studio
####################################
.vs/*
!.vs/settings.json
!.vs/tasks.json
!.vs/launch.json
!.vs/extensions.json
packages/
packages/*

####################################
## Visual Studio Code
####################################
.vscode/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

####################################
## Fortify Reports
####################################
*.fpr

####################################
## WhiteSource log directory
####################################
whitesource

# misc
*.DONOTUSE
vssver.scc
mssccprj.scc


# Specific to this build
*.csproj.FileListAbsolute.txt

####################################
### Generic Files
####################################
*.log
logs
*.tmp
*.bak
local.properties

####################################
### OS Files
####################################
Thumbs.db
.copyarea.db

####################################
### Git
####################################
*.orig

####################################
### python
####################################
*.pyc
__pycache__
# my convention for virtual dirs
env
site-packages
# another popular convention for virtual dirs
venv

####################################
### Sublime Text
####################################
# cache files for sublime text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache

# workspace files are user-specific
*.sublime-workspace

# sublime project files
*.sublime-project

# sftp configuration file
sftp-config.json

####################################
### Node
####################################
# Runtime data
pids
*.pid
*.seed

# Directory for instrumented libs generated by jscoverage/JSCover
lib-cov

# Coverage directory used by tools like istanbul
coverage

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# node-waf configuration
.lock-wscript

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git-
node_modules

.env
.next/

reports/

####################################
### Bower
####################################
bower_components
lib

####################################
### grunt
####################################
# Output directory
dist/

# Grunt usually preprocesses files such as coffeescript, compass... inside the .tmp directory
.tmp/

####################################
### Sass
####################################
.sass-cache
*.css.map
scss-lint-report.xml

####################################
### Vagrant
####################################
.vagrant/

####################################
### RAD / Java
####################################
# Java #
*.class

# Packaged Files #
*.jar
*.war
*.ear

# RAD #
.apt_generated
.classpath
.factorypath
.project
.settings/
.wtpmodules
.metadata

# IntelliJ
.idea/
*.iml

####################################
### Maven
####################################
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

####################################
### Codeceptjs
####################################
output/